{% extends 'book-store/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>

<html>
    
<body>


{%if book_list0 %}
      
        <div class="card-group">
          <div class="card">
            <a href="/store/{{book_list0.id | slugify}}">
            <img src="/static{{book_list0.photo.url}}" class="card-img-top" alt={{book_list0.title}}>
            </a>
            <div class="card-body">
              <h5 class="card-title">{{book_list0.title}}</h5>
              <p class="card-text"> {{book_list0.details|truncatewords_html:50}}</p>
              <p class="card-text"><small class="text-muted">Last updated {{book_list0.timeAdded}}</small></p>
            </div>
          </div>

          <div class="card">
            <a href="/store/{{book_list1.id | slugify}}">
            <img src="/static{{book_list1.photo.url}}" class="card-img-top" alt="...">
            </a>
          <div class="card-body">
              <h5 class="card-title">{{book_list1.title}}</h5>
              <p class="card-text"> {{book_list1.details|truncatewords_html:50}}</p>
              <p class="card-text"><small class="text-muted">Last updated {{book_list1.timeAdded}}</small></p>
            </div>
          </div>

          <div class="card">
            <a href="/store/{{book_list2.id | slugify}}">
            <img src="/static{{book_list2.photo.url}}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{book_list2.title}}</h5>
              <p class="card-text"> {{book_list2.details|truncatewords_html:50}}</p>
              <p class="card-text"><small class="text-muted">Last updated {{book_list2.timeAdded}}</small></p>
            </div>
          </div>

          
        </div>        

    {%else%}
    <p> No Such users are available</p>
    {%endif%}



</body>

</html>

{% endblock %}